@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --ezs-body-bg: #f5f8fa;
    --ezs-body-color: #181C32;
    --ezs-element-bg: #fff;
}

html.dark {
    --ezs-body-bg: #151521;
    --ezs-body-color: #FFFFFF;
    --ezs-element-bg: #1b1b29;
}


/* Import */

@import url('/src/_ezs/assets/plugin/rc-tooltip/rc-tooltip.css');
@import url('/src/_ezs/assets/plugin/react-datepicker/react-datepicker.css');
@import url('/src/_ezs/assets/plugin/react-toastify/ReactToastify.css');
@import url('/src/_ezs/assets/plugin/react-select/react-select.css');
@import url('/src/_ezs/assets/plugin/sweetalert2/sweetalert.css');
@import url('/src/_ezs/assets/plugin/fullcalendar/fullcalendar.css');
@import url('/src/_ezs/assets/plugin/perfect-scrollbar/perfect-scrollbar.css');

/* Root */

html {
    text-size-adjust: 100%;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--ezs-body-color);
    background: var(--ezs-body-bg);
}

body {
    font-size: 15px;
    line-height: 22px;
}

#root {
    height: 100%;
}

[tabindex],
*:focus-visible {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}


/* Scrollbar */

.scrollbar-min::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scrollbar-dark::-webkit-scrollbar {
    width: 5px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #323248;
}

.scrollbar-dark::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Checkbox */

.checkbox .icon::after {
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0
    /*rtl:ignore*/
    !important;
    -webkit-transform: rotate(45deg);
    /*rtl:ignore*/
    transform: rotate(45deg);
    /*rtl:ignore*/
    width: 6px;
    height: 12px;
}

.checkbox input:checked+.icon.checkbox-primary {
    @apply bg-primary
}

.checkbox input:checked+.icon::after {
    border-color: #ffffff;
    display: block;
}


/* react-viewer */

body .react-viewer.bg-white .react-viewer-image {
    background-color: #fff;
    padding: 30px;
}

body .react-viewer-list>li,
body .react-viewer-list>li>img {
    width: auto;
    margin-left: 0;
}


/* ckeditor */

.ck-editor__editable {
    min-height: 130px !important;
}

.ck-content .ck-editor__editable {
    min-height: 250px !important;
}